<FilesMatch "\.(css|js|png|jpe?g|gif)$">
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
</FilesMatch>
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/javascript
</IfModule>
FileETag none
SetEnv TZ America/Chicago
ServerSignature Off